*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.window{
height: 500px;
width: 600px;
margin: 20px auto;
border: 1px solid red;
overflow: hidden;

}
.images{
position: relative;
}
.images > img{
width: 100%;
transition: all 0.3s;
position: absolute;
top: 0;
}

.images>img.current{
transform: translateX(0);

}
.images>img.leave{
transform: translateX(-100%);

}
.images>img.enter{
transform: translateX(100%);
z-index: -1;

}
